body{
    display: flex;
    justify-content:space-between; 
    background-image: url("./background.jpg");
}

table {
    border: 2px solid #000000;
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    background-color: #9696db;
    }

img{
    width:150px;
    height:150px;
  }

  div{
      display: flex;
      flex-direction: column;
      align-items: center; 
  }
p{
    color:white;
    font-size: 200px;
    text-shadow: 5px 5px 5px #9696db; 
}

#explosion{
    display:none;
    width: 400px;
    height: 200px;
    }

#explosionadverse{
    display:none;
    width: 400px;
    height: 200px;
    }

td, th {
    border: 1px solid #000000;
    width: 40px;
    height: 40px;
    }
.littleboat{
    background-color: gray;
}

.middleboat{
    background-color: gray;
}

.bigboat{
    background-color: gray;
}

.ailittleboat{
    background-color: rgb(170, 76, 76);
}

.aimiddleboat{
    background-color: rgb(170, 76, 76);
}

.aibigboat{
    background-color:rgb(170, 76, 76);
}

[data-touche="true"]:hover{
    cursor: not-allowed;
}

